<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.dao.CarriageMapper" >
  <resultMap id="BaseResultMap" type="com.shop.model.Carriage" >
    <id column="carriageId" property="carriageid" jdbcType="INTEGER" />
    <result column="carriageName" property="carriagename" jdbcType="VARCHAR" />
    <result column="firstPrice" property="firstprice" jdbcType="DOUBLE" />
    <result column="destination" property="destination" jdbcType="VARCHAR" />
    <result column="firstNumber" property="firstnumber" jdbcType="INTEGER" />
    <result column="nextNumber" property="nextnumber" jdbcType="INTEGER" />
    <result column="nextPrice" property="nextprice" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    carriageId, carriageName, firstPrice, destination, firstNumber, nextNumber, nextPrice
  </sql>
  <!-- 补充by chuankun -->
  <select id="selectByName" resultMap="BaseResultMap">
  select *
  from carriage
  where carriageName = #{name}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  select * 
  from carriage
  </select>
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from carriage
    where carriageId = #{carriageid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from carriage
    where carriageId = #{carriageid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.model.Carriage" >
    insert into carriage (carriageId, carriageName, firstPrice, 
      destination, firstNumber, nextNumber, 
      nextPrice)
    values (#{carriageid,jdbcType=INTEGER}, #{carriagename,jdbcType=VARCHAR}, #{firstprice,jdbcType=DOUBLE}, 
      #{destination,jdbcType=VARCHAR}, #{firstnumber,jdbcType=INTEGER}, #{nextnumber,jdbcType=INTEGER}, 
      #{nextprice,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.model.Carriage" >
    insert into carriage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carriageid != null" >
        carriageId,
      </if>
      <if test="carriagename != null" >
        carriageName,
      </if>
      <if test="firstprice != null" >
        firstPrice,
      </if>
      <if test="destination != null" >
        destination,
      </if>
      <if test="firstnumber != null" >
        firstNumber,
      </if>
      <if test="nextnumber != null" >
        nextNumber,
      </if>
      <if test="nextprice != null" >
        nextPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carriageid != null" >
        #{carriageid,jdbcType=INTEGER},
      </if>
      <if test="carriagename != null" >
        #{carriagename,jdbcType=VARCHAR},
      </if>
      <if test="firstprice != null" >
        #{firstprice,jdbcType=DOUBLE},
      </if>
      <if test="destination != null" >
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="firstnumber != null" >
        #{firstnumber,jdbcType=INTEGER},
      </if>
      <if test="nextnumber != null" >
        #{nextnumber,jdbcType=INTEGER},
      </if>
      <if test="nextprice != null" >
        #{nextprice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.model.Carriage" >
    update carriage
    <set >
      <if test="carriagename != null" >
        carriageName = #{carriagename,jdbcType=VARCHAR},
      </if>
      <if test="firstprice != null" >
        firstPrice = #{firstprice,jdbcType=DOUBLE},
      </if>
      <if test="destination != null" >
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="firstnumber != null" >
        firstNumber = #{firstnumber,jdbcType=INTEGER},
      </if>
      <if test="nextnumber != null" >
        nextNumber = #{nextnumber,jdbcType=INTEGER},
      </if>
      <if test="nextprice != null" >
        nextPrice = #{nextprice,jdbcType=DOUBLE},
      </if>
    </set>
    where carriageId = #{carriageid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.model.Carriage" >
    update carriage
    set carriageName = #{carriagename,jdbcType=VARCHAR},
      firstPrice = #{firstprice,jdbcType=DOUBLE},
      destination = #{destination,jdbcType=VARCHAR},
      firstNumber = #{firstnumber,jdbcType=INTEGER},
      nextNumber = #{nextnumber,jdbcType=INTEGER},
      nextPrice = #{nextprice,jdbcType=DOUBLE}
    where carriageId = #{carriageid,jdbcType=INTEGER}
  </update>
</mapper>