*{
    margin: 0;
    padding: 0;
    font-family: "Î¢ÈíÑÅºÚ";
   }
   a{
    text-decoration: none;
    color: grey;;
   }
   #register{
    margin: 0 auto;
    width: 1120px;background-color: white;
   }
   div.top{
    width: 1120px;height: 85px;
    background-color: #fff;
   }
   div.top img{
    float: left;
   }
   div.content{
    width:1120px;
    height: 500px;
   }
   div.register{
    margin: 0 auto;
    width: 250px;
    height:250px;
    color:#B3B3B3;
   }
   div.register h1{
    width: 250px;
    text-align: center;
    font-size: 28px;
    font-weight: 100;
    color: black;
   }
   div.register p.reg input{
    padding-left: 5px;
    font-size: 14px;
    height:40px;
    width:245px;
    margin: 10px auto 0px;
    border: 1px solid #ccc;
   }
   div.register p.code input{
    padding-left: 5px;
    font-size: 14px;
    height:40px;
    width:145px;
    margin: 10px auto 0px;
    border: 1px solid #ccc;
   }
   div.register p.code a.getCode{
    display: block;
    float: right;
    height:40px;
    width: 90px;
    background-color: #919191;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    margin: 10px 0 0 5px;
   }
   div.register p.txt{
    height: 40px;
    line-height: 40px;
    font-size: xx-small;
   }
   div.register p a.r{
    text-decoration: none;
    color: #4889EB;
   }
   div.register p.sub input{
    border: none;
    color: white;
    font-size: 18px;
    height:40px;
    width:250px;
    background-color: #E44E4E;
   }