<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.shop.model.Comment" >
    <id column="commentId" property="commentid" jdbcType="INTEGER" />
    <result column="goodId" property="goodid" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="commentTime" property="commenttime" jdbcType="VARCHAR" />
    <result column="goodServer" property="goodserver" jdbcType="INTEGER" />
    <result column="sellerServer" property="sellerserver" jdbcType="INTEGER" />
    <result column="logisticsServer" property="logisticsserver" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    commentId, goodId, userId, content, commentTime, goodServer, sellerServer, logisticsServer
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where commentId = #{commentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where commentId = #{commentid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.model.Comment" >
    insert into comment (commentId, goodId, userId, 
      content, commentTime, goodServer, 
      sellerServer, logisticsServer)
    values (#{commentid,jdbcType=INTEGER}, #{goodid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{commenttime,jdbcType=VARCHAR}, #{goodserver,jdbcType=INTEGER}, 
      #{sellerserver,jdbcType=INTEGER}, #{logisticsserver,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.model.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentid != null" >
        commentId,
      </if>
      <if test="goodid != null" >
        goodId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="commenttime != null" >
        commentTime,
      </if>
      <if test="goodserver != null" >
        goodServer,
      </if>
      <if test="sellerserver != null" >
        sellerServer,
      </if>
      <if test="logisticsserver != null" >
        logisticsServer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentid != null" >
        #{commentid,jdbcType=INTEGER},
      </if>
      <if test="goodid != null" >
        #{goodid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="commenttime != null" >
        #{commenttime,jdbcType=VARCHAR},
      </if>
      <if test="goodserver != null" >
        #{goodserver,jdbcType=INTEGER},
      </if>
      <if test="sellerserver != null" >
        #{sellerserver,jdbcType=INTEGER},
      </if>
      <if test="logisticsserver != null" >
        #{logisticsserver,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.model.Comment" >
    update comment
    <set >
      <if test="goodid != null" >
        goodId = #{goodid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="commenttime != null" >
        commentTime = #{commenttime,jdbcType=VARCHAR},
      </if>
      <if test="goodserver != null" >
        goodServer = #{goodserver,jdbcType=INTEGER},
      </if>
      <if test="sellerserver != null" >
        sellerServer = #{sellerserver,jdbcType=INTEGER},
      </if>
      <if test="logisticsserver != null" >
        logisticsServer = #{logisticsserver,jdbcType=VARCHAR},
      </if>
    </set>
    where commentId = #{commentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.model.Comment" >
    update comment
    set goodId = #{goodid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      commentTime = #{commenttime,jdbcType=VARCHAR},
      goodServer = #{goodserver,jdbcType=INTEGER},
      sellerServer = #{sellerserver,jdbcType=INTEGER},
      logisticsServer = #{logisticsserver,jdbcType=VARCHAR}
    where commentId = #{commentid,jdbcType=INTEGER}
  </update>
</mapper>