<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.dao.GoodMapper" >
  <resultMap id="BaseResultMap" type="com.shop.model.Good" >
    <id column="goodId" property="goodid" jdbcType="INTEGER" />
    <result column="classId" property="classid" jdbcType="INTEGER" />
    <result column="goodName" property="goodname" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="stoke" property="stoke" jdbcType="INTEGER" />
    <result column="goodDesc" property="gooddesc" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="goodLable" property="goodlable" jdbcType="VARCHAR" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="clicks" property="clicks" jdbcType="INTEGER" />
    <result column="goodPoint" property="goodpoint" jdbcType="DOUBLE" />
    <result column="serverPoint" property="serverpoint" jdbcType="DOUBLE" />
    <result column="logisticsPoint" property="logisticspoint" jdbcType="DOUBLE" />
    <result column="goodImage" property="goodimage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    goodId, classId, goodName, price, stoke, goodDesc, brand, goodLable, sales, clicks, 
    goodPoint, serverPoint, logisticsPoint, goodImage
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from good
    where goodId = #{goodid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from good
    where goodId = #{goodid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.model.Good" >
    insert into good (goodId, classId, goodName, 
      price, stoke, goodDesc, 
      brand, goodLable, sales, 
      clicks, goodPoint, serverPoint, 
      logisticsPoint, goodImage)
    values (#{goodid,jdbcType=INTEGER}, #{classid,jdbcType=INTEGER}, #{goodname,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{stoke,jdbcType=INTEGER}, #{gooddesc,jdbcType=VARCHAR}, 
      #{brand,jdbcType=VARCHAR}, #{goodlable,jdbcType=VARCHAR}, #{sales,jdbcType=INTEGER}, 
      #{clicks,jdbcType=INTEGER}, #{goodpoint,jdbcType=DOUBLE}, #{serverpoint,jdbcType=DOUBLE}, 
      #{logisticspoint,jdbcType=DOUBLE}, #{goodimage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.model.Good" >
    insert into good
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodid != null" >
        goodId,
      </if>
      <if test="classid != null" >
        classId,
      </if>
      <if test="goodname != null" >
        goodName,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="stoke != null" >
        stoke,
      </if>
      <if test="gooddesc != null" >
        goodDesc,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="goodlable != null" >
        goodLable,
      </if>
      <if test="sales != null" >
        sales,
      </if>
      <if test="clicks != null" >
        clicks,
      </if>
      <if test="goodpoint != null" >
        goodPoint,
      </if>
      <if test="serverpoint != null" >
        serverPoint,
      </if>
      <if test="logisticspoint != null" >
        logisticsPoint,
      </if>
      <if test="goodimage != null" >
        goodImage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodid != null" >
        #{goodid,jdbcType=INTEGER},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="goodname != null" >
        #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="stoke != null" >
        #{stoke,jdbcType=INTEGER},
      </if>
      <if test="gooddesc != null" >
        #{gooddesc,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="goodlable != null" >
        #{goodlable,jdbcType=VARCHAR},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=INTEGER},
      </if>
      <if test="clicks != null" >
        #{clicks,jdbcType=INTEGER},
      </if>
      <if test="goodpoint != null" >
        #{goodpoint,jdbcType=DOUBLE},
      </if>
      <if test="serverpoint != null" >
        #{serverpoint,jdbcType=DOUBLE},
      </if>
      <if test="logisticspoint != null" >
        #{logisticspoint,jdbcType=DOUBLE},
      </if>
      <if test="goodimage != null" >
        #{goodimage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.model.Good" >
    update good
    <set >
      <if test="classid != null" >
        classId = #{classid,jdbcType=INTEGER},
      </if>
      <if test="goodname != null" >
        goodName = #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="stoke != null" >
        stoke = #{stoke,jdbcType=INTEGER},
      </if>
      <if test="gooddesc != null" >
        goodDesc = #{gooddesc,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="goodlable != null" >
        goodLable = #{goodlable,jdbcType=VARCHAR},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=INTEGER},
      </if>
      <if test="clicks != null" >
        clicks = #{clicks,jdbcType=INTEGER},
      </if>
      <if test="goodpoint != null" >
        goodPoint = #{goodpoint,jdbcType=DOUBLE},
      </if>
      <if test="serverpoint != null" >
        serverPoint = #{serverpoint,jdbcType=DOUBLE},
      </if>
      <if test="logisticspoint != null" >
        logisticsPoint = #{logisticspoint,jdbcType=DOUBLE},
      </if>
      <if test="goodimage != null" >
        goodImage = #{goodimage,jdbcType=VARCHAR},
      </if>
    </set>
    where goodId = #{goodid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.model.Good" >
    update good
    set classId = #{classid,jdbcType=INTEGER},
      goodName = #{goodname,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      stoke = #{stoke,jdbcType=INTEGER},
      goodDesc = #{gooddesc,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      goodLable = #{goodlable,jdbcType=VARCHAR},
      sales = #{sales,jdbcType=INTEGER},
      clicks = #{clicks,jdbcType=INTEGER},
      goodPoint = #{goodpoint,jdbcType=DOUBLE},
      serverPoint = #{serverpoint,jdbcType=DOUBLE},
      logisticsPoint = #{logisticspoint,jdbcType=DOUBLE},
      goodImage = #{goodimage,jdbcType=VARCHAR}
    where goodId = #{goodid,jdbcType=INTEGER}
  </update>
</mapper>