<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.dao.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.shop.model.OrderDetail" >
    <id column="orderId" property="orderid" jdbcType="INTEGER" />
    <result column="goodId" property="goodid" jdbcType="INTEGER" />
    <result column="goodNumber" property="goodnumber" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    orderId, goodId, goodNumber
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orderdetail
    where orderId = #{orderid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orderdetail
    where orderId = #{orderid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shop.model.OrderDetail" >
    insert into orderdetail (orderId, goodId, goodNumber
      )
    values (#{orderid,jdbcType=INTEGER}, #{goodid,jdbcType=INTEGER}, #{goodnumber,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shop.model.OrderDetail" >
    insert into orderdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="goodid != null" >
        goodId,
      </if>
      <if test="goodnumber != null" >
        goodNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="goodid != null" >
        #{goodid,jdbcType=INTEGER},
      </if>
      <if test="goodnumber != null" >
        #{goodnumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.model.OrderDetail" >
    update orderdetail
    <set >
      <if test="goodid != null" >
        goodId = #{goodid,jdbcType=INTEGER},
      </if>
      <if test="goodnumber != null" >
        goodNumber = #{goodnumber,jdbcType=INTEGER},
      </if>
    </set>
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.model.OrderDetail" >
    update orderdetail
    set goodId = #{goodid,jdbcType=INTEGER},
      goodNumber = #{goodnumber,jdbcType=INTEGER}
    where orderId = #{orderid,jdbcType=INTEGER}
  </update>
</mapper>