<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.shop.model.Order" >
    <id column="orderId" property="orderid" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="DOUBLE" />
    <result column="costDIscount" property="costdiscount" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="shopTime" property="shoptime" jdbcType="VARCHAR" />
    <result column="orderState" property="orderstate" jdbcType="INTEGER" />
    <result column="payWay" property="payway" jdbcType="INTEGER" />
    <result column="carriageId" property="carriageid" jdbcType="INTEGER" />
    <result column="payTime" property="paytime" jdbcType="VARCHAR" />
    <result column="sendGoodTime" property="sendgoodtime" jdbcType="VARCHAR" />
    <result column="completeTime" property="completetime" jdbcType="VARCHAR" />
    <result column="commentState" property="commentstate" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="OrderResultMap" type="com.shop.bean.OrderBean">
    <id column="orderId" property="orderid" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="DOUBLE" />
    <result column="costDIscount" property="costdiscount" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="shopTime" property="shoptime" jdbcType="VARCHAR" />
    <result column="orderState" property="orderstate" jdbcType="INTEGER" />
    <result column="payWay" property="payway" jdbcType="INTEGER" />
    <result column="carriageId" property="carriageid" jdbcType="INTEGER" />
    <result column="payTime" property="paytime" jdbcType="VARCHAR" />
    <result column="sendGoodTime" property="sendgoodtime" jdbcType="VARCHAR" />
    <result column="completeTime" property="completetime" jdbcType="VARCHAR" />
    <result column="commentState" property="commentstate" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    orderId, userId, total, costDIscount, remark, shopTime, orderState,
    payWay, carriageId, payTime, sendGoodTime, completeTime, commentState
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from torder
    where orderId = #{orderid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from torder
    where orderId = #{orderid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shop.model.Order" >
    insert into torder (orderId, userId, total, 
      costDIscount, remark, shopTime, 
       orderState, payWay,
      carriageId, payTime, sendGoodTime, 
      completeTime, commentState)
    values (#{orderid,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{total,jdbcType=DOUBLE}, 
      #{costdiscount,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR}, #{shoptime,jdbcType=VARCHAR}, 
       #{orderstate,jdbcType=INTEGER}, #{payway,jdbcType=INTEGER},
      #{carriageid,jdbcType=INTEGER}, #{paytime,jdbcType=VARCHAR}, #{sendgoodtime,jdbcType=VARCHAR}, 
      #{completetime,jdbcType=VARCHAR}, #{commentstate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.shop.model.Order" >
    insert into torder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="costdiscount != null" >
        costDIscount,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="shoptime != null" >
        shopTime,
      </if>
      <if test="orderstate != null" >
        orderState,
      </if>
      <if test="payway != null" >
        payWay,
      </if>
      <if test="carriageid != null" >
        carriageId,
      </if>
      <if test="paytime != null" >
        payTime,
      </if>
      <if test="sendgoodtime != null" >
        sendGoodTime,
      </if>
      <if test="completetime != null" >
        completeTime,
      </if>
      <if test="commentstate != null" >
        commentState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DOUBLE},
      </if>
      <if test="costdiscount != null" >
        #{costdiscount,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="shoptime != null" >
        #{shoptime,jdbcType=VARCHAR},
      </if>
      <if test="orderstate != null" >
        #{orderstate,jdbcType=INTEGER},
      </if>
      <if test="payway != null" >
        #{payway,jdbcType=INTEGER},
      </if>
      <if test="carriageid != null" >
        #{carriageid,jdbcType=INTEGER},
      </if>
      <if test="paytime != null" >
        #{paytime,jdbcType=VARCHAR},
      </if>
      <if test="sendgoodtime != null" >
        #{sendgoodtime,jdbcType=VARCHAR},
      </if>
      <if test="completetime != null" >
        #{completetime,jdbcType=VARCHAR},
      </if>
      <if test="commentstate != null" >
        #{commentstate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.model.Order" >
    update torder
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DOUBLE},
      </if>
      <if test="costdiscount != null" >
        costDIscount = #{costdiscount,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="shoptime != null" >
        shopTime = #{shoptime,jdbcType=VARCHAR},
      </if>
      <if test="orderstate != null" >
        orderState = #{orderstate,jdbcType=INTEGER},
      </if>
      <if test="payway != null" >
        payWay = #{payway,jdbcType=INTEGER},
      </if>
      <if test="carriageid != null" >
        carriageId = #{carriageid,jdbcType=INTEGER},
      </if>
      <if test="paytime != null" >
        payTime = #{paytime,jdbcType=VARCHAR},
      </if>
      <if test="sendgoodtime != null" >
        sendGoodTime = #{sendgoodtime,jdbcType=VARCHAR},
      </if>
      <if test="completetime != null" >
        completeTime = #{completetime,jdbcType=VARCHAR},
      </if>
      <if test="commentstate != null" >
        commentState = #{commentstate,jdbcType=INTEGER},
      </if>
    </set>
    where orderId = #{orderid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.model.Order" >
    update torder
    set userId = #{userid,jdbcType=INTEGER},
      total = #{total,jdbcType=DOUBLE},
      costDIscount = #{costdiscount,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR},
      shopTime = #{shoptime,jdbcType=VARCHAR},
      orderState = #{orderstate,jdbcType=INTEGER},
      payWay = #{payway,jdbcType=INTEGER},
      carriageId = #{carriageid,jdbcType=INTEGER},
      payTime = #{paytime,jdbcType=VARCHAR},
      sendGoodTime = #{sendgoodtime,jdbcType=VARCHAR},
      completeTime = #{completetime,jdbcType=VARCHAR},
      commentState = #{commentstate,jdbcType=INTEGER}
    where orderId = #{orderid,jdbcType=VARCHAR}
  </update>

  <select id="findOrderByUserId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM torder
    where userId=#{userid,jdbcType=INTEGER}
  </select>

  <select id="selectByOrderId" resultMap="">

  </select>
</mapper>